:root {
    color-scheme: dark light;
    --light: #fff;
    --dark: #404040;
}

* {
    box-sizing: border-box;
    color: var(--dark);
}
textarea {
    display: block;
    padding: 10px;
    width: 100%;
    height: 900px;
    outline: none;
    border: 1px solid grey;
    border: 1;
    background-color: white;
    resize: vertical;
    overflow: auto;
    font-family: monospace;
    font-size: 16px;
    color: #444;
}
html {
    border-style: solid;
    border-width: 5px 0 0 0;
    border-color: var(--dark);
}

html, button, input {
    font-family: sans-serif;
}

body {
    background-color: var(--light);
    margin: 0;
    max-width: 85%;
    padding: 0 20px 20px 20px;
    line-height: 1.4em;
}

p {
    margin-bottom: 10px;
}

img {
    width: 100%;
}

pre {
    overflow: auto;
}

button, .button {
    display: inline-block;
    background-color:grey;
    color: var(--light);
    font-size: 1em;
    text-align: center;
    padding: 8px;
    margin-right: 5px;
    border-radius: 5px;
    text-decoration: none;
   
    line-height: normal;
    cursor: pointer;
}


button:last-child, .button:last-child {
    margin-right: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.bordered {
    border: 3px solid;
}

.home {
    display: inline-block;
    background-color: var(--light);
    color: var(--dark);
    margin-top: 20px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    font-weight: bold;
}


/* Desktop sizes */
@media only screen and (min-width: 600px) {
    ol {
        column-count: 2;
    }
    body {
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media (prefers-color-scheme: dark) {
    * {
        color: var(--dark);
    }

    html {
        border-color: var(--light);
    }

    body {
        background-color: var(--light);
    }

    button, .button, .home, input {
        background-color: var(--light);
        color: var(--dark);
    }
}





/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .notes_sidebar {
    border-right: 2px solid #dddddd;
    flex-shrink: 0;
    overflow-y: auto;
    padding: 1em;
    width: 300px;
}

.notes_add {
    background: #009578;
    border: none;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.75em 0;
    width: 100%;
}

.notes_add:hover {
    background: #00af8c;
}

.notes_list-item {
    cursor: pointer;
}

.notes_list-item--selected {
    background: #eeeeee;
    border-radius: 7px;
    font-weight: bold;
}

.notes_small-title,
.notes_small-updated {
    padding: 10px;
}

.notes_small-title {
    font-size: 1.2em;
}

.notes_small-body {
    padding: 0 10px;
}

.notes_small-updated {
    color: #aaaaaa;
    font-style: italic;
    text-align: right;
}

.notes_preview {
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    flex-grow: 1;
}




.goleft {
    padding-right: 20px;
    cursor: pointer;
}
.goright {
    padding-left: 20px;
    cursor: pointer;
}